@import url('monsterrat_alternates.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border antialiased;
    }

    body {
        @apply bg-bg text-fg select-none overflow-x-hidden !scrollbar-thin-purple-dark;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
    }

    input {
        background: transparent;
        outline: none;
    }

    input:focus {
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px #120e19 inset;
        -webkit-text-fill-color: white;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear
    {
        display: none;
    }

    /*noinspection CssInvalidPseudoSelector*/
    input[type=password]::-webkit-contacts-auto-fill-button,
    input[type=password]::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        height: 0;
        width: 0;
        margin: 0;
    }

    img {
        pointer-events: none;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 99px;
    }
}

@layer components {
    .nav-link {
        @apply text-white/60 hover:text-white transition cursor-pointer font-semibold text-md md:text-sm flex items-center;
    }

    .contact-link {
        @apply px-4 py-3 md:py-2 bg-white/5 hover:bg-white/10 rounded-md
        flex text-white/60 hover:text-white transition cursor-pointer font-semibold text-md md:text-sm;
    }

    .article-row-selected {
        @apply !bg-white/10 rounded-md
    }

}